.statistics-container {
    h2 {
        margin-bottom: 1rem;
    }

    .logs-container {
        h2 {
            margin-top: 1rem;
        }

        margin: 1rem 0 .5rem 0;
    }
}

.drawer-filter {
    min-width: 28rem;

    .drawer-footer {
        display: flex;
        justify-content: flex-end;

        .drawer-footer-inner {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .left {}

            .right {
                display: flex;
                justify-content: flex-end;
            }

            .button {
                margin-left: .5rem;
            }
        }
    }
}

.actionbar {
    padding: 1rem .25rem .5rem .25rem;

    .filter {
        display: flex;
        align-items: center;
        margin-top: .5rem;
        font-size: .75rem;
        padding-left: 1rem;
        flex-wrap: wrap;

        .filter-inner {
            .p-chip {
                font-size: .65rem;
                padding: .25rem .5rem;

                .filter-text {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    .actionbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .actionbar-start {
            display: flex;

            .screen-label {
                font-size: 1.25rem;
                font-weight: 600;
                text-overflow: ellipsis;
                height: auto;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .actionbar-end {
            display: flex;
            flex-wrap: wrap;

            .button {
                margin-left: .5rem;
            }
        }
    }

    .field-search {
        width: 50%;
        margin-top: 1rem;
        display: flex;

        input {
            border-radius: 2rem;
        }

        .search-button {
            width: auto;
            margin-left: .5rem;
        }
    }

    @media screen and (max-width: 991px) {
        .field-search {
            width: 100%;
        }
    }
}