<div class="main">
   <p-toast position="bottom-right" key="action-toast">
      <ng-template let-message #message>
         <div class="container-message">
            <div class="icon">
               <p-progress-spinner class="spinner" strokeWidth=" 8" fill="transparent" animationDuration=".5s" />
            </div>

            <div class="message">{{ message?.summary }}</div>
         </div>
      </ng-template>
   </p-toast>

   <app-topbar [items]="menuItems"></app-topbar>
   <app-left-menu #leftMenu [items]="menuItems"></app-left-menu>

   <div class="outlet">
      <router-outlet></router-outlet>
   </div>
</div>