.container-loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: 30px;
        height: 30px;
        stroke: var(--p-primary-color);
    }

    .message {
        margin-left: 1rem;
    }
}

.p-blockui-mask.p-overlay-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}