<div class="left-sub-menu">
    <ul>
        <li *ngFor="let item of items; let i = index" [class]="'li-' + item?.level"
            [pTooltip]="item?.commingSoon ? 'Disponível em breve' : item?.tooltip">

            <div *ngIf="item?.visible && item?.new" class="layout-menuitem-badge-new">
                <p-badge value="Novo" />
            </div>

            <a *ngIf="item?.visible" [ngClass]="{ 'disabled': item?.commingSoon }" [routerLink]="item?.routerLink"
                routerLinkActive="active-menu" (click)="onExpandItem(item, item?.level)">
                <i *ngIf="item?.commingSoon" [class]="'layout-menuitem-icon fas fa-hourglass'"></i>

                <i *ngIf="!item?.commingSoon" [class]="'layout-menuitem-icon ' + item?.icon"></i>
                <span class="layout-menuitem-text">{{ item?.label }}</span>

                <div class="layout-menuitem-badge">
                    <i *ngIf="item?.notification" [class]="'layout-menuitem-icon fas fa-clock'"></i>
                </div>

                <div class="layout-menuitem-badge">
                    <p-badge *ngIf="item?.badge" value="{{ item?.badge }}" />
                </div>

                <div [class]="'layout-submenu-toggler toggler-' + item?.level">
                    <i class="fas fa-chevron-down" *ngIf="item?.items?.length"></i>
                </div>
            </a>

            <app-left-sub-menu *ngIf="item?.expanded && item?.items?.length" [items]="item?.items"></app-left-sub-menu>
        </li>
    </ul>
</div>