.button {
    .p-tieredmenu-mobile {
        position: absolute !important;
    }

    .button-rounded {
        height: 2.5rem;
        border-radius: 2rem;
    }

    .splitbutton-rounded {
        .p-splitbutton-button.p-button {
            border-radius: 2rem;
            border: 1px solid var(--p-button-primary-border-color);
            background-color: transparent;
            color: var(--p-button-text);
            padding-right: 3rem;
        }

        .p-splitbutton-button.p-button:hover {
            border: 1px solid var(--p-button-primary-hover-border-color);
        }

        .p-splitbutton-dropdown {
            height: 2.1rem;
            width: 2.2rem;
            border-radius: 50%;
            margin-left: calc(100% - 2.5rem);
            margin-top: 4px;
            position: absolute;
        }
    }

    .splitbutton-rounded-single {
        .p-splitbutton-button {
            display: none;
        }

        .p-splitbutton-dropdown {
            border-radius: 50%;
        }
    }

    @media screen and (max-width: 991px) {
        .button-rounded-mobile {
            display: block;
            width: 2.5rem !important;
            height: 2.5rem !important;

            .p-button-label {
                display: none;
            }
        }

        .p-splitbutton-button {
            .p-button-label {
                max-width: 100px;
                text-overflow: ellipsis;
                height: auto;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    @media screen and (max-width: 586px) {
        .p-splitbutton-button {
            .p-button-label {
                max-width: 90px;
                text-overflow: ellipsis;
                height: auto;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}