<app-blockui [blocked]="blockUI"></app-blockui>

<p-confirmdialog key="app-confirmation" />

<app-dynamic-drawer [objects]="dynamicObjects"></app-dynamic-drawer>

<p-drawer [(visible)]="showInstallDrawer" header="Instalação" position="bottom" [styleClass]="'install-drawer'">
    <div class="drawer-content">
        <div *ngIf="isIOS && !isInStandaloneMode; else androidMessage">
            <div class="ios">
                <span class="fas fa-mobile install-icon"></span>
                <p>Instale nosso app no seu celular e tenha ele sempre na palma da mão</p>
            </div>

            <div class="ios-instructions">
                <ol>
                    <li>Toque no botão <strong>Compartilhar</strong> ⬆️</li>
                    <li>Selecione <strong>Adicionar à Tela de Início</strong></li>
                </ol>
            </div>
        </div>

        <ng-template #androidMessage>
            <div class="android">
                <span class="fas fa-mobile install-icon"></span>
                <p>Instale nosso app no seu celular e tenha ele sempre na palma da mão</p>
            </div>
        </ng-template>
    </div>

    <ng-template pTemplate="footer">
        <div *ngIf="isIOS; else androidButton" class="drawer-footer">
            <app-button [label]="'Fechar'" [type]="ButtonType.Button" [icon]="'fas fa-times'" [fluid]="true" (onClick)="onShowHideInstallDrawer()"></app-button>
        </div>

        <ng-template #androidButton>
            <app-button [label]="'Instalar App'" [type]="ButtonType.Button" [icon]="'fas fa-cloud-arrow-down'" [fluid]="true" (onClick)="onInstallApp()"></app-button>
        </ng-template>
    </ng-template>
</p-drawer>

<tour-step-template>
    <ng-template let-step="step">
        <div class="tour" [style.width]="step?.stepDimensions?.width" [style.min-width]="step?.stepDimensions?.minWidth" [style.max-width]="step?.stepDimensions?.maxWidth">
            <div class="header">
                <div>{{ step.title }}</div>

                <app-button [type]="ButtonType.ButtonSecondary" [icon]="'fas fa-times'" (onClick)="tourService.end()"></app-button>
            </div>

            <div class="content" [innerHTML]="step?.content"></div>

            <div class="footer">
                <div class="left">
                    <app-button *ngIf="step?.visiblePrev" [type]="ButtonType.Button" [icon]="'fas fa-chevron-left'" [label]="step.prevBtnTitle" [noBackground]="true"
                        [changeOnMobile]="false" [disabled]="step.disablePrev" (onClick)="tourService.prev()"></app-button>
                </div>

                <div *ngIf="step?.showProgress" class="center">
                    {{ tourService.steps.indexOf(step) + 1 }} / {{ tourService.steps.length }}
                </div>

                <div class="right">
                    <app-button *ngIf="tourService.hasNext(step) && step?.visibleNext" [type]="ButtonType.Button" [icon]="'fas fa-chevron-right'" [iconPos]="'right'"
                        [label]="step.nextBtnTitle" [changeOnMobile]="false" [disabled]="step.disableNext" (onClick)="tourService.next()"></app-button>

                    <app-button *ngIf="!tourService.hasNext(step) && step?.visibleNext" [type]="ButtonType.Button" [icon]="'fas fa-check'" [label]="step.endBtnTitle"
                        [changeOnMobile]="false" [disabled]="step.disableNext" (onClick)="tourService.end()"></app-button>
                </div>
            </div>
        </div>
    </ng-template>
</tour-step-template>

<router-outlet></router-outlet>