html {
    .component {
        height: calc(100vh - 9.8rem);

        @media screen and (max-width: 991px) {
            height: calc(100vh - 10.75rem);
        }
    }

    .install-drawer {
        border: none;
        border-top: 1px solid var(--p-drawer-border-color);

        .drawer-content {
            .android,
            .ios {
                padding-top: 1rem;
                display: inline-flex;
                align-items: center;

                .install-icon {
                    padding-left: 1rem;
                    margin-right: 1rem;
                    font-size: 2.5rem;
                }
            }

            .ios-instructions {
                padding: 2rem 1rem 0 1rem;
                text-align: center;
            }
        }
    }
}
