<app-blockui [target]="blockUIPanel" [blocked]="blockUI" [message]="blockUIMessage" />

<div *ngIf="!dynamicDrawerObject.visible" class="service">
   <p-tabs [(value)]="currentTab">
      <p-tablist>
         <p-tab class="tab" value="0">Pré Reforma</p-tab>
         <p-tab class="tab" value="1">Pós Reforma</p-tab>
      </p-tablist>
      <p-tabpanels>
         <p-tabpanel value="0">
            <div class="grid gap-2 grid-cols-12">
               <div class="grid gap-2 col-span-12">
                  <div class="col-span-12">
                     <app-field [label]="'Custo de Pessoal'" [type]="FieldType.Currency" [(model)]="servicePreObject.b2" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" (onInput)="calculatePreReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Impostos'" [type]="FieldType.Currency" [(model)]="servicePreObject.b3" [icon]="'fas fa-percentage'" [iconPos]="'right'"
                        (onInput)="calculatePreReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Despesas Variáveis'" [type]="FieldType.Currency" [(model)]="servicePreObject.b4" [icon]="'fas fa-percentage'" [iconPos]="'right'"
                        (onInput)="calculatePreReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Desejada'" [type]="FieldType.Currency" [(model)]="servicePreObject.b5" [icon]="'fas fa-percentage'"
                        [iconPos]="'right'" (onInput)="calculatePreReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Custo Fixo'" [type]="FieldType.Currency" [(model)]="servicePreObject.b6" [icon]="'fas fa-brazilian-real-sign'" [iconPos]="'left'"
                        (onInput)="calculatePreReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Sugerido'" [type]="FieldType.Currency" [(model)]="servicePreObject.b7" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Desejada'" [type]="FieldType.Currency" [(model)]="servicePreObject.b8" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Final Sugerido (Nota Fiscal)'" [type]="FieldType.Currency" [(model)]="servicePreObject.b9" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Praticado'" [type]="FieldType.Currency" [icon]="'fas fa-brazilian-real-sign'" [(model)]="servicePreObject.b10"
                        [iconPos]="'left'" (onInput)="calculatePreReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Alcançada'" [type]="FieldType.Currency" [(model)]="servicePreObject.b11" [icon]="'fas fa-percentage'"
                        [iconPos]="'right'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Alcançada'" [type]="FieldType.Currency" [(model)]="servicePreObject.b12" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Final Praticado (Nota Fiscal)'" [type]="FieldType.Currency" [(model)]="servicePreObject.b13" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>
               </div>
            </div>
         </p-tabpanel>
         <p-tabpanel value="1">
            <div class="grid gap-2 grid-cols-12">
               <div class="grid gap-2 col-span-12">
                  <div class="col-span-12">
                     <app-field [label]="'Custo de Pessoal'" [type]="FieldType.Currency" [(model)]="servicePostObject.b2" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" (onInput)="calculatePostReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Impostos'" [type]="FieldType.Currency" [(model)]="servicePostObject.b3" [icon]="'fas fa-percentage'" [iconPos]="'right'"
                        (onInput)="calculatePostReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Despesas Variáveis'" [type]="FieldType.Currency" [(model)]="servicePostObject.b4" [icon]="'fas fa-percentage'" [iconPos]="'right'"
                        (onInput)="calculatePostReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Desejada'" [type]="FieldType.Currency" [(model)]="servicePostObject.b5" [icon]="'fas fa-percentage'"
                        [iconPos]="'right'" (onInput)="calculatePostReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Custo Fixo'" [type]="FieldType.Currency" [(model)]="servicePostObject.b6" [icon]="'fas fa-brazilian-real-sign'" [iconPos]="'left'"
                        (onInput)="calculatePostReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Sugerido'" [type]="FieldType.Currency" [(model)]="servicePostObject.b7" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Desejada'" [type]="FieldType.Currency" [(model)]="servicePostObject.b8" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Final Sugerido (Nota Fiscal)'" [type]="FieldType.Currency" [(model)]="servicePostObject.b9" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Praticado'" [type]="FieldType.Currency" [icon]="'fas fa-brazilian-real-sign'" [(model)]="servicePostObject.b10"
                        [iconPos]="'left'" (onInput)="calculatePostReform()"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Alcançada'" [type]="FieldType.Currency" [(model)]="servicePostObject.b11" [icon]="'fas fa-percentage'"
                        [iconPos]="'right'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Margem de Lucro Alcançada'" [type]="FieldType.Currency" [(model)]="servicePostObject.b12" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>

                  <div class="col-span-12">
                     <app-field [label]="'Preço Final Praticado (Nota Fiscal)'" [type]="FieldType.Currency" [(model)]="servicePostObject.b13" [icon]="'fas fa-brazilian-real-sign'"
                        [iconPos]="'left'" [disabled]="true"></app-field>
                  </div>
               </div>
            </div>
         </p-tabpanel>
      </p-tabpanels>
   </p-tabs>

   <div class="fixed-bottombar">
      <div class="bottom-bar-container">
         <div class="left">
            <p class="title">
               Margem de Lucro
            </p>
            <p class="value">
               {{ (currentTab == '0') ? servicePreObject.b11 : servicePostObject.b11 }} %
            </p>
         </div>
         <div class="left">
            <p class="title">
               Preço Final
            </p>
            <p class="value">
               {{ ((currentTab == '0') ? servicePreObject.b10 : servicePostObject.b10) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </p>
         </div>
      </div>
   </div>
</div>