<div class="leftmenu">
    <div class="sidebar-header">
        <a class="app-logo" href="/">
            <img src="assets/images/logo.png">
        </a>
    </div>

    <div class="layout-menu-container">
        <ul class="layout-menu">
            <li class="layout-root-menuitem" *ngFor="let item of items">
                <div class="layout-menuitem-root-text" *ngIf="item?.label && item?.visible">
                    {{ item?.label }}
                </div>

                <app-left-sub-menu [items]="item?.items"></app-left-sub-menu>
            </li>
        </ul>
    </div>
</div>