.industry {
    .p-tabpanels {
        overflow-y: scroll;
        max-height: calc(100vh - 280px);
    }

    .tab {
        width: 50%;
        text-align: center;
    }

    .fixed-bottombar {
        position: fixed;
        bottom: 0;
        z-index: 100;
        min-height: 100px;
        background-color: var(--p-tabs-tablist-background);
        border-top: 1px solid var(--p-inputtext-border-color);
        transition: width var(--transition-duration);
        transition: left var(--transition-duration);

        .bottom-bar-container {
            width: 100%;
            min-height: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;

            .left,
            .right {
                width: 100%;
                text-align: center;

                .title {
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    color: var(--p-inputtext-color);
                }

                .value {
                    font-size: 1.75rem;
                    color: #00d300;
                    font-weight: 700;
                }
            }
        }
    }
}