.drawer-options {
    width: 60rem !important;
    left: calc((100% - 50%) - 420px) !important;
    bottom: .75rem !important;
    border-radius: 1rem;

    .action-container-parent {
        justify-content: space-between;
    }

    .action-container {
        display: flex;
        justify-content: center;
        padding: 1rem 1.5rem .6rem 1.5rem;

        .action-button {
            margin-bottom: .5rem;
            margin-left: .5rem;
        }
    }
}

.p-drawer-bottom {
    height: auto !important;
}

.p-paginator {
    border: none !important;
}

@media screen and (max-width: 991px) {
    .drawer-options {
        width: 95% !important;
        left: 2.5% !important;

        .action-container {
            .action-button {
                height: 2.5rem;
                width: 2.5rem;

                .p-button-label {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .p-paginator-content-end {
        width: 100%;
        margin-top: .5rem;
        text-align: left;
    }
}

.table {
    width: 100% !important;
    display: block !important;
    padding: 1.5rem 1rem 0.5rem;
    border-radius: 1rem;

    .internal-actions-button {
        margin-left: .5rem;

        button {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 3px !important;

        }
    }

    // .p-datatable-table-container {
    //     min-height: 13.15rem;
    // }

    .title {
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
    }

    .data {
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        white-space: pre-line;
    }

    .container-badge-new {
        position: relative;
        text-align: right;
        margin-bottom: -0.5rem;
        margin-top: -.85rem;

        .badge-new {
            height: 1.25rem;
            font-size: 0.6rem;
            padding: 0 0.5rem;
        }
    }

    .ng-invalid-table {
        padding: .25rem;
        border: 1px solid var(--p-inputtext-invalid-border-color);
        border-radius: .4rem;
    }

    .ng-border {
        border: 1px solid;
    }

    .image {
        justify-self: center;
        cursor: pointer;
    }

    .global-search {
        margin-bottom: 1rem;
    }

    .container-header {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 1rem;
        justify-content: space-between;

        .export {
            display: flex;
            align-items: center;

            button {
                margin-left: .5rem;
                font-size: 1.25rem;
                padding: .25rem;
            }
        }

        .configuration {
            width: auto;
            margin-left: .5rem;
            display: flex;
            align-items: center;

            .grid-checkbox-all {
                margin-left: 1.25rem
            }

            .grid-layout {
                margin-left: 1rem;
            }
        }

        .registers {
            width: auto;

            .selected {
                font-size: 11px;
            }
        }

        .registers-no-select {
            width: auto;
            display: flex;
            align-items: center;
        }
    }

    .container-header-single {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 1rem;
        justify-content: end;
    }

    .edit-buttons-container {
        width: 105px;

        .action-header {
            display: flex;
            align-items: center;
        }
    }

    .p-datatable-mask {
        display: none;
    }

    th {
        font-size: 1rem;

        .p-sortable-column-icon {
            padding-top: .15rem;
        }
    }

    .p-datatable-frozen-column {
        transition: 200ms;
    }

    tr>td>div {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    tr:hover {
        .p-datatable-frozen-column {
            background: var(--p-datatable-row-hover-background);
        }
    }

    .row-selected {
        border-left: 4px solid var(--p-primary-color);
        padding-left: 10px;
    }

    & ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    & ::-webkit-scrollbar-thumb {
        background: var(--p-primary-color);
    }

    & ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    .container-tag {
        .tag {
            width: auto;
            display: inline-flex;
            border-radius: .5rem;
            justify-content: center;
            padding: .25rem .5rem;
            font-size: .75rem;
            font-weight: 700;
            color: var(--p-surface-0);
            box-shadow: 2px 2px 6px -2px;
        }
    }

    .empty {
        td {
            text-align: center;
            font-weight: 500;
        }
    }

    .empty:hover {
        background: transparent !important;
    }

    .selected {
        margin-right: .5rem;
    }

    .grid-container {
        padding: 0 1rem 0 .5rem;

        .grid-item {
            display: flex;
            border: 1px solid var(--p-grid-item-border-color);
            padding: 1rem;
            min-width: 100%;
            border-radius: 1rem;
            box-shadow: var(--p-card-shadow);

            .padding-item {
                padding: .2rem;
            }

            .grid-checkbox {
                height: auto;
            }

            .grid-data {
                width: calc(100% - 25px);
                margin-left: 1rem;
            }

            .title {
                font-weight: 600;
            }

            .data {
                text-overflow: ellipsis;
                height: auto;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .grid-item:hover {
            background: var(--p-content-hover-background);
            color: var(--p-content-hover-color);
        }

        .grid-item-selected {
            border-left: 4px solid var(--p-primary-color);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 11px;
        }
    }

    .grid-empty {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p-dataview-loading-overlay {
        display: none;
    }

    .container-json {
        display: flex;

        a {
            background-color: var(--p-surface-800);
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            padding: 0.75rem;
            cursor: pointer;
        }

        a:hover {
            background-color: var(--p-surface-700);
        }

        pre {
            width: 100%;
            overflow-y: auto;
            max-height: 150px;
            margin-right: 1rem;
            overflow-x: hidden;
        }
    }
}